html {
	scroll-behavior: smooth;
}

body {
	color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    color: none
}

.card-category {
    color: #D73953
}

.section-tagaline {
    color: #D73953
}
